@page "/Api/Reservas"

@using Proyecto_LaGranSiete.Client.Servicios
@inject IHTTPServicio http
@using Proyecto_LaGranSiete.BD.Data.Entity

<html xmlns="http://www.w3.org/1999/xhtml">

   
    <head>
        <title>La Gran Siete - Oficial</title>
    </head>

     

    <body class="p-3 mb-2 bg-black text-secondary">

        <header>
            <h1 class="text-center text-white text-uppercase">La Gran Siete Página oficial</h1>


        </header>


        <main>

            <section>

                <h2 class="bg-gradient bg-black text-danger">
                    ¡Predio futbolístico "La Gran 7" te da la Bienvenida! El lugar ideal para vivir la pasión del fútbol sin importar tu edad
                    o nivel de juego. Nuestro predio cuenta con 7 canchas de fútbol de primer nivel, donde tanto hombres como mujeres pueden
                    disfrutar de su deporte favorito en un ambiente inclusivo, seguro y lleno de energía.
                    ¿No tienes equipo? ¡No te preocupes! Te lo armamos para que no te pierdas la oportunidad de jugar.
                    Aquí, todos son bienvenidos, desde los que buscan perfeccionar sus habilidades hasta aquellos que solo quieren pasar un buen
                    rato entre amigos y nuevos compañeros de juego.
                    Reservá tu lugar ahora y sentí la emoción del fútbol en un entorno pensado para tu bienestar. 
                    ¡Vení a divertirte, competir y hacer nuevos amigos en la cancha!
                </h2>
                @* <br /> *@

            <h2 class="text-center">
               Reservá tu lugar !!
            </h2>


            @* <a class="btn-primary" href="/Api/ListReserva/Crear">Nueva reserva</a> *@
            <div>
                <a class="btn bg-success bg-gradient w-100 p-3 h-50 d-inline-block text-uppercase fs-2 fw-bolder text-white text-center"
                href="/Api/ListReserva/Crear">Nueva Reserva</a>
            </div>

            </section>  

            
           

            <section>

                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                    <div class="container img-fluid col-md-6">
                        <img src="https://pbs.twimg.com/profile_images/474283737388027904/YCqhaIHu_400x400.jpeg" class="d-block w-100" alt="...">
                        </div>
                    </div>
                </div>

            </section>
                
           
           
               
            <table>

                <tr>
                <th class="text-white bg-primary">Fecha y hora de la reserva</th>
                <th class="text-white bg-primary">Duración del alquiler</th>
                <th class="text-white bg-primary">Monto</th>
                <th class="text-white bg-primary">Método de pago</th>
                <th class="text-white bg-primary">Estado de la reserva</th>
                </tr>


                @if (Mensaje == "")
                {
                    @if (listaReserva == null)
                    {
                        <p>Buscando lista, aguarde...</p>
                    }
                    else if (listaReserva.Count == 0)
                    {
                        <p>No existen reservas realizadas</p>
                    }
                    else
                    {
                        @foreach (var item in listaReserva)
                        {
                            @* lista de los atributos de la tabla *@
                            <tr>

                                <td>@item.FechaHoraReserva</td>
                                <td>@item.DuracionAlquiler</td>
                                <td>@item.Monto</td>
                                <td>@item.MetodoPago</td>
                                <td>@item.EstadoReserva</td>    

                                @* Botón de editar reserva *@
                                <td>
                                    <a class="btn btn-success"
                                    href="/Api/Reservas/Editar/{ReservasId:int}@item.Id">Modificar reserva</a>
                                </td>

                                @* boton de eliminar la reserva *@

                                <td>
                                    <button class="btn btn-danger"
                                            @onclick="()=>Eliminar(item)">
                                        Eliminar reserva
                                    </button>
                                </td>

                            </tr>
                                
                        }
                    }
                }
                else
                {
                    <p>Error: @Mensaje</p>
                }
                               
            </table>

                                
                           
                    
                



            

         

            @* Confirmacion *@

         @*    <Confirmacion @ref="confirmacion"
                onCancel="Cancelar" @onConfirm="Borrar">
                <h5>Esta por borrar la reserva, desea continuar?  @reserva.FechaHoraReserva </h5>
                <p>Está seguro?</p>
            </Confirmacion>
            
            
            <Confirmacion @ref="confirmacion"
                onCancel="Cancelar" @onConfirm="Borrar">
                <h5>Está por borrar duración del alquiler?, desea continuar @reserva.DuracionAlquiler</h5>
                <p>Está seguro?</p>
            </Confirmacion>      *@
            
           @*  <Confirmacion @ref="confirmacion"
                onCancel="Cancelar" @onConfirm="Borrar">
                <h5>Está por borrar duración del alquiler?, desea continuar  @reserva.Monto </h5>
                <p>Está seguro?</p>
            </Confirmacion> 
            
            <Confirmacion @ref="confirmacion"
                onCancel="Cancelar" @onConfirm="Borrar">
                <h5>Esta por borrar la reserva, desea continuar@reserva.MetodoPago</h5>
                <p>Está seguro?</p>
            </Confirmacion> *@


                
        

        </main>
  
        <footer>
            <p class="font-monospace">Todos los derechos reservados</p>
        </footer>
    
    </body>

</html>
        
  
<Confirmacion @ref=eliminar
    onCancel="Cancelar"
    onConfirm="Borrar">
    <h5 class="alert-danger bg-danger text-white text-center text-uppercase font-monospace">Esta por borrar la reserva, desea continuar?</h5>
</Confirmacion>

               
@code {

    List<Reserva> listaReserva;

    Reserva reserva;

    Confirmacion eliminar;

    string Mensaje = "";

    protected override async Task OnInitializedAsync() //"Task" = Equivale a un "VOID"
    {
        await base.OnInitializedAsync(); //Evento que se produce cuando se inicializa la pagina web
        await Leer();
    }

    private async Task Leer()
    {
        // var resp = await http.Get<List<Reserva>>("/Api/Reservas");

        HTTPRespuesta<List<Reserva>> resp = 
        await http.Get<List<Reserva>>("/Api/Reservas");

        if (!resp.Error)
        {
            listaReserva = resp.Respuesta;
        }
        else
        {
            Mensaje = await resp.ObtenerError(); 
        } 
    }


    private async Task Eliminar(Reserva reserva)
    {
        eliminar.Ver();
    }

    private void Cancelar()
    {
        eliminar.Ocultar();
    }

    private async Task Borrar()
    {
        // eliminar.Ver();
    }

}



   


     










