@page "/Api/Reservas"
@using Proyecto_LaGranSiete.Client.Servicios
@inject IHTTPServicio http
@using Proyecto_LaGranSiete.BD.Data.Entity


<html xmlns="http://www.w3.org/1999/xhtml">

   
    <head>
        <title>La Gran Siete - Oficial</title>

        @* hoja de estilo para la pagina principal *@
        <link href="./css/ListReserva.css" rel="stylesheet" />
    </head>



    <body class="p-3 mb-2 bg-black text-secondary">

        <section id="carouselExampleSlidesOnly" class="carousel slide mb-5" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://pbs.twimg.com/profile_images/474283737388027904/YCqhaIHu_400x400.jpeg" class="d-block w-100" alt="..." />
                </div>
            </div>
        </section>
       
        <header class="text-center py-4 bg-dark text-white">
            <h1 class="text-uppercase">Prédio futbolístico <span style="color: lime; font-size: 2.5em; text-shadow: 3px 3px 10px rgba(255, 255, 255, 0.7), 0 0 10px lime;">La Gran 7</span></h1>



            <h2>Fútbol y Amistad en Cada Partido.. <span class="text-uppercase blink pulse" style="color: lime; font-size: 1em; text-shadow: 2px 2px 5px white;">reservá tu lugar</span> !!</h2>

        </header>

        <main class="container mt-5">
            <section class="mb-5">
                <h2 class="highlight-title">¡Predio futbolístico "La Gran 7" te da la Bienvenida!</h2>
                <p class="highlight-paragraph">
                    El lugar ideal para vivir la pasión del fútbol sin importar tu edad o nivel de juego. Nuestro predio cuenta con <strong>7 canchas de fútbol de primer nivel</strong>, donde tanto hombres como mujeres pueden disfrutar de su deporte favorito en un ambiente inclusivo, seguro y lleno de energía.
                    ¿No tienes equipo? <strong>¡No te preocupes!</strong> Te lo armamos para que no te pierdas la oportunidad de jugar. Aquí, todos son bienvenidos, desde los que buscan perfeccionar sus habilidades hasta aquellos que solo quieren pasar un buen rato entre amigos y nuevos compañeros de juego.
                    <strong>Reservá tu lugar ahora</strong> y sentí la emoción del fútbol en un entorno pensado para tu bienestar. ¡Vení a divertirte, competir y hacer nuevos amigos en la cancha!
                </p>
            </section>

          

        @*     <section class="text-center mb-5">
                <h2 class="text-center">Reservá tu lugar !!</h2>
                <a class="btn btn-success btn-lg text-uppercase w-50 p-2 mb-4" href="/Api/ListReserva/Crear">Nueva Reserva</a>
            </section> *@

            <section class="text-center mb-5"> 
                <h2 class="text-center">Reservá tu lugar !!</h2> 
                <a class="btn btn-success btn-lg text-uppercase w-50 p-2 mb-4 custom-btn" href="/Api/ListReserva/Crear">Nueva Reserva</a>
            </section>

           

            @* <h4 class="bg-black p-3 text-center  text-white">Lista de reservas</h4> *@
            <h4 class="bg-gradient p-3 text-center text-white" style="background: linear-gradient(to right, green, blue); font-size: 1.5rem; font-family: 'Arial Black', sans-serif; border-radius: 10px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
        🏆 ⚽ Lista de Reservas ⚽ 🏆
            </h4>
  
            <div class="table-responsive">
                    
                <table class="table table-bordered table-striped text-center">
                        
                    <thead>
                        <tr>
                            <th class="p-3 text-white text-uppercase bg-black">Fecha/hora reserva</th>
                            <th class="p-3 text-white text-uppercase bg-black">Tiempo de alquiler (Hs) </th>
                            <th class="p-3 text-white text-uppercase bg-black">Precio por alquiler</th>
                            <th class="p-3 text-white text-uppercase bg-black">Método de pago</th>
                            <th class="p-3 text-white text-uppercase bg-black">Estado</th>
                            <th class="p-3 text-white text-uppercase bg-black">Modificar / Eliminar</th>
                        </tr>
                    </thead>

                    <tbody>

                        @if (Mensaje == "")
                        {
                            @if (listaReserva == null)
                            {
                                <tr>
                                    <td colspan="6">Buscando reservas, aguarde...</td>
                                </tr>
                            }
                            else if (listaReserva.Count == 0)
                            {
                                <tr>
                                    <td colspan="6">No existen reservas realizadas</td>
                                </tr>
                            }
                            else
                            {
                                @foreach (var item in listaReserva)
                                {
                                    <tr>
                                        
                                        <td class="text-danger">@item.FechaHoraReserva</td>
                                        <td class="text-danger">@item.DuracionAlquiler</td>
                                        <td class="text-danger">@item.Monto</td>
                                        <td class="text-danger">@item.MetodoPago</td>
                                        <td class="text-danger">@item.EstadoReserva</td>
                                        
                                        <td class="d-flex align-items-center justify-content-between">
                                            <a class="btn btn-outline-warning btn-sm mb-2" href="/Api/Reservas/Editar/@item.Id">Modificar</a>
                                            <button class="btn btn-danger btn-sm mb-2" @onclick="()=>Eliminar(item)">Eliminar</button>
                                        </td>
                                    
                                    </tr>
                                }
                            }
                        }
                        else
                        {
                            <tr><td colspan="6">Error: @Mensaje</td></tr>
                        }

                    </tbody>

                </table>
        
            </div>

            <div class="container text-center my-5">
                <div class="row">
                    <div class="col">
                        <h2 class="impact-text neon-text text-uppercase">La gran 7 - Complejo deportivo</h2>
                    </div>
                    <div class="col">
                        <h2 class="impact-text neon-text text-uppercase">La gran 7  - Complejo deportivo</h2>
                    </div>
                    <div class="col">
                        <h2 class="impact-text neon-text text-uppercase">La gran 7 - Complejo deportivo</h2>
                    </div>
                </div>
            </div>

            <div class="container mt-5">
                
                <div class="modal-dialog-centered">
                
                    <Confirmacion @ref="eliminar" onCancel="Cancelar" onConfirm="Borrar">
                        <div class="alert alert-danger text-center text-uppercase font-monospace rounded shadow p-3">
                            <h5 class="mb-3">Está por borrar la reserva, ¿desea continuar?</h5>
                            @* <div class="d-flex justify-content-around">
                                <button class="btn btn-secondary" @onclick="Cancelar">Cancelar</button>
                                <button class="btn btn-danger" @onclick="Borrar">Borrar</button>
                            </div> *@
                        </div>
                    </Confirmacion>
            
                </div>
            
            </div>

        </main>
        
       
        <footer class="bg-dark text-white text-center py-3 mt-5">
            <p class="font-monospace mb-0">Todos los derechos reservados</p>
        </footer>

        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    </body>

</html>


               
@code {

    List<Reserva> listaReserva;

    Reserva reserva;

    Confirmacion eliminar;

    string Mensaje = "";

    protected override async Task OnInitializedAsync() //"Task" = Equivale a un "VOID"
    {
        await base.OnInitializedAsync(); //Evento que se produce cuando se inicializa la pagina web
        await Leer();
    }

    private async Task Leer()
    {
        // var resp = await http.Get<List<Reserva>>("/Api/Reservas");

        HTTPRespuesta<List<Reserva>> resp = 
        await http.Get<List<Reserva>>("/Api/Reservas");

        if (!resp.Error)
        {
            listaReserva = resp.Respuesta;
        }
        else
        {
            Mensaje = await resp.ObtenerError(); 
        } 
    }

    //metodo que elimina la rserva
    private async Task Eliminar(Reserva reserva)
    {
        eliminar.Ver();
    }

    private void Cancelar()
    {
        eliminar.Ocultar();
    }

    private async Task Borrar()
    {
        eliminar.Ver();
    }

    
    // codigo de prueba de eliminacion de una reserva
   
   
}



   


     










