@page "/Api/Reservas"

@using Proyecto_LaGranSiete.Client.Servicios
@inject IHTTPServicio http
@using Proyecto_LaGranSiete.BD.Data.Entity

<html xmlns="http://www.w3.org/1999/xhtml">

   
    <head>
        <title>La Gran Siete - Oficial</title>
    </head>

     

    <body class="p-3 mb-2 bg-black text-secondary">

        <header>
            <h1 class="text-center text-white text-uppercase">La Gran Siete Página oficial</h1>


        </header>


        <main>

            <section>

                <h2 class="bg-gradient bg-black text-danger">
                    ¡Predio futbolístico "La Gran 7" te da la Bienvenida! El lugar ideal para vivir la pasión del fútbol sin importar tu edad
                    o nivel de juego. Nuestro predio cuenta con 7 canchas de fútbol de primer nivel, donde tanto hombres como mujeres pueden
                    disfrutar de su deporte favorito en un ambiente inclusivo, seguro y lleno de energía.
                    ¿No tienes equipo? ¡No te preocupes! Te lo armamos para que no te pierdas la oportunidad de jugar.
                    Aquí, todos son bienvenidos, desde los que buscan perfeccionar sus habilidades hasta aquellos que solo quieren pasar un buen
                    rato entre amigos y nuevos compañeros de juego.
                    Reservá tu lugar ahora y sentí la emoción del fútbol en un entorno pensado para tu bienestar. 
                    ¡Vení a divertirte, competir y hacer nuevos amigos en la cancha!
                </h2>
                @* <br /> *@

            <h2 class="text-center">Reservá tu lugar !!
            </h2>
                   
              
                
            
            

                @* BOTON DE nUEVA  *@
                @* <a class="btn-primary" href="/Api/ListReserva/Crear">Nueva reserva</a> *@
                <div class="container">
                    <a class="btn bg-success d-flex justify-content-center p-1 h-25 w-25 text-uppercase fs-2 text-white-50 text-center"
                    href="/Api/ListReserva/Crear">Nueva Reserva</a>
                </div>

            </section>  

            
           

            <section>
                
                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                    <div class="container img-fluid col-md-6">
                        <img src="https://pbs.twimg.com/profile_images/474283737388027904/YCqhaIHu_400x400.jpeg" class="d-block w-100" alt="...">
                        </div>
                    </div>
                </div>

            </section>
                
           <h4 class="bg-black p-5 text-center text-uppercase text-white">lista de reservas</h4>
           
            <div class="containter mt-5">

                <table class="table table-bordered table-striped">

                    <tr>
                        <th class="p-3 text-white text-center text-uppercase bg-black">Fecha y hora</th>
                        <th class="p-3 text-white text-center text-uppercase bg-black">Duración</th>
                        <th class="p-3 text-white text-center text-uppercase bg-black">Precio</th>
                        <th class="p-3 text-white text-center text-uppercase bg-black">Método de pago</th>
                        <th class="p-3 text-white text-center text-uppercase bg-black">Estado de la reserva</th>
                    </tr>


                    @if (Mensaje == "")
                    {
                        @if (listaReserva == null)
                        {
                            <p>Buscando reservas, aguarde...</p>
                        }
                        else if (listaReserva.Count == 0)
                        {
                            <p>No existen reservas realizadas</p>
                        }
                        else
                        {
                            @foreach (var item in listaReserva)
                            {
                                @* lista de los atributos de la tabla *@
                                <tr>

                                    <td class="text-danger text-center">@item.FechaHoraReserva</td>
                                    <td class="text-danger text-center">@item.DuracionAlquiler</td>
                                    <td class="text-danger text-center">@item.Monto</td>
                                    <td class="text-danger text-center">@item.MetodoPago</td>
                                    <td class="text-danger text-center">@item.EstadoReserva</td>

                                    @* Botón de editar reserva *@
                                    <td class="bg-warning">
                                        <a class="btn btn-warning"
                                           href="/Api/Reservas/Editar/@item.Id">Modificar reserva</a>
                                    </td>

                                    @* boton de eliminar la reserva *@

                                    <td>
                                        <button class="btn btn-danger"
                                                @onclick="()=>Eliminar(item)">
                                            Eliminar reserva
                                        </button>
                                    </td>

                                </tr>

                            }
                        }
                    }
                    else
                    {
                        <p>Error: @Mensaje</p>
                    }

                </table>

            </div>

            






            <Confirmacion @ref=eliminar
                          onCancel="Cancelar"
                          onConfirm="Borrar">
                <h5 class="alert-danger bg-danger text-white text-center text-uppercase font-monospace">Esta por borrar la reserva, desea continuar?</h5>
            </Confirmacion>

            

         

            @* Confirmacion *@

         @*    <Confirmacion @ref="confirmacion"
                onCancel="Cancelar" @onConfirm="Borrar">
                <h5>Esta por borrar la reserva, desea continuar?  @reserva.FechaHoraReserva </h5>
                <p>Está seguro?</p>
            </Confirmacion>
            
            
            <Confirmacion @ref="confirmacion"
                onCancel="Cancelar" @onConfirm="Borrar">
                <h5>Está por borrar duración del alquiler?, desea continuar @reserva.DuracionAlquiler</h5>
                <p>Está seguro?</p>
            </Confirmacion>      *@
            
           @*  <Confirmacion @ref="confirmacion"
                onCancel="Cancelar" @onConfirm="Borrar">
                <h5>Está por borrar duración del alquiler?, desea continuar  @reserva.Monto </h5>
                <p>Está seguro?</p>
            </Confirmacion> 
            
            <Confirmacion @ref="confirmacion"
                onCancel="Cancelar" @onConfirm="Borrar">
                <h5>Esta por borrar la reserva, desea continuar@reserva.MetodoPago</h5>
                <p>Está seguro?</p>
            </Confirmacion> *@


                
        

        </main>
  
        <footer>
            <p class="font-monospace text-center">Todos los derechos reservados</p>
        </footer>
    
    </body>

</html>
        
  


               
@code {

    List<Reserva> listaReserva;

    Reserva reserva;

    Confirmacion eliminar;

    string Mensaje = "";

    protected override async Task OnInitializedAsync() //"Task" = Equivale a un "VOID"
    {
        await base.OnInitializedAsync(); //Evento que se produce cuando se inicializa la pagina web
        await Leer();
    }

    private async Task Leer()
    {
        // var resp = await http.Get<List<Reserva>>("/Api/Reservas");

        HTTPRespuesta<List<Reserva>> resp = 
        await http.Get<List<Reserva>>("/Api/Reservas");

        if (!resp.Error)
        {
            listaReserva = resp.Respuesta;
        }
        else
        {
            Mensaje = await resp.ObtenerError(); 
        } 
    }


    private async Task Eliminar(Reserva reserva)
    {
        eliminar.Ver();
    }

    private void Cancelar()
    {
        eliminar.Ocultar();
    }

    private async Task Borrar()
    {
        // eliminar.Ver();
    }

}



   


     










