@page "/Api/Reservas"
@using Proyecto_LaGranSiete.Client.Servicios
@inject IHTTPServicio http
@using Proyecto_LaGranSiete.BD.Data.Entity

<html xmlns="http://www.w3.org/1999/xhtml">

   
    <head>
        <title>La Gran Siete - Oficial Sitio Web</title>

     

    </head>

    <body class="p-3 mb-2 bg-warning text-dark">

        <header>

            <h1 class="p-3 mb-2 bg-success text-white text-center">La Gran Siete Página oficial</h1>

            


        </header>
      
        <main>

          
            <section>

                <h2 >
                    ¡Predio futbolístico "La Gran 7" te da la Bienvenida! El lugar ideal para vivir la pasión del fútbol sin importar tu edad
                    o nivel de juego. Nuestro predio cuenta con 7 canchas de fútbol de primer nivel, donde tanto hombres como mujeres pueden
                    disfrutar de su deporte favorito en un ambiente inclusivo, seguro y lleno de energía.
                    ¿No tienes equipo? ¡No te preocupes! Te lo armamos para que no te pierdas la oportunidad de jugar.
                    Aquí, todos son bienvenidos, desde los que buscan perfeccionar sus habilidades hasta aquellos que solo quieren pasar un buen
                    rato entre amigos y nuevos compañeros de juego.
                    Reservá tu lugar ahora y sentí la emoción del fútbol en un entorno pensado para tu bienestar. 
                    ¡Vení a divertirte, competir y hacer nuevos amigos en la cancha!
                </h2>

            </section>  

            
           

            <section>

                <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                        <img src="https://mas10.ar/wp-content/uploads/2023/10/cesped-1024x682.webp" class="d-block w-100" alt="...">
                        </div>
                    </div>
                </div>

            </section>
                
            <br />
            <p class="text-center font-weit: fw-bolder text-light bg-dark text-uppercase">Para realizar una reserva,
                complete los siguientes campos</p>

               
            



            <table>

                <tr>
                    <th class="text-warning bg-dark">Fecha y hora de la reserva</th>
                    <th class="text-warning bg-dark">Duración del alquiler</th>
                    <th class="text-warning bg-dark">Monto</th>
                    <th class="text-warning bg-dark">Método de pago</th>
                    <th class="text-warning bg-dark">Estado de la reserva</th>
                </tr>


                @if (Mensaje == "")
                {
                    @if (listaReserva == null)
                    {
                        <p>Buscando lista de reservas...</p>
                    }
                    else if (listaReserva.Count == 0)
                    {
                        <p>No existen reservas realizadas</p>
                    }
                    else
                    {
                        @foreach (var item in listaReserva)
                        {
                            <tr>
                                <td>@item.FechaHoraReserva</td>
                                <td>@item.DuracionAlquiler</td>
                                <td>@item.Monto</td>
                                <td>@item.MetodoPago</td>
                                <td>@item.EstadoReserva</td>
                            </tr>
                        }
                    }
                }
                else
                {
                    <p>Error @Mensaje</p>
                }


            </table>

            <div>
            <a class="btn btn-primary" href="/apiListReserva/Crear">Nueva Reserva</a>
            </div>


        </main>
  
        <footer>
            <p class="font-monospace">Todos los derechos reservados</p>
        </footer>
    
    </body>

</html>
        
               
@code {

    List<Reserva>? listaReserva;

    string Mensaje = "";

    protected override async Task OnInitializedAsync() //"Task" = Equivale a un "VOID"
    {
        await base.OnInitializedAsync(); //Evento que se produce cuando se inicializa la pagina web
        await Leer();
    }

    private async Task Leer()
    {
        // var resp = await http.Get<List<Reserva>>("/Api/Reservas");

        HTTPRespuesta<List<Reserva>> resp = 
        await http.Get<List<Reserva>>("/Api/Reservas");

        if (!resp.Error)
        {
            listaReserva = resp.Respuesta;
        }
        else
        {
            Mensaje = await resp.ObtenerError(); 
        } 
    }
}










