@page "/Api/Reservas"
@using Proyecto_LaGranSiete.Client.Servicios
@inject IHTTPServicio http
@using Proyecto_LaGranSiete.BD.Data.Entity

<html xmlns="http://www.w3.org/1999/xhtml">

   
    <title>La Gran Siete - Oficial Sitio Web</title>

    <body >

        <header>

            <h1>La Gran Siete Página oficial</h1>

            <p>Para realizar una reserva, complete los siguientes campos</p>


        </header>
      
        <main>

            <table>

                <tr>
                    <th class="text-warning bg-dark">Fecha y hora de la reserva</th>
                    <th class="text-warning bg-dark">Duración del alquiler</th>
                    <th class="text-warning bg-dark">Monto</th>
                    <th class="text-warning bg-dark">Método de pago</th>
                    <th class="text-warning bg-dark">Estado de la reserva</th>
                </tr>


                @if (Mensaje == "")
                {
                    @if (listaReserva == null)
                    {
                        <p>Buscando reservas...</p>
                    }
                    else if (listaReserva.Count == 0)
                    {
                        <p>No existen reservas realizadas</p>
                    }
                    else
                    {
                        @foreach (var item in listaReserva)
                        {
                            <tr>
                                <td>@item.FechaHoraReserva</td>
                                <td>@item.DuracionAlquiler</td>
                                <td>@item.Monto</td>
                                <td>@item.MetodoPago</td>
                                <td>@item.EstadoReserva</td>
                            </tr>
                        }
                    }
                }
                else
                {
                    <p>Error @Mensaje</p>
                }


            </table>

        </main>
  
        <footer>
            <p>Todos los derechos reservados</p>
        </footer>
    
    </body>

</html>
        
               
@code {

    List<Reserva>? listaReserva;

    string Mensaje = "";

    protected override async Task OnInitializedAsync() //"Task" = Equivale a un "VOID"
    {
        await base.OnInitializedAsync(); //Evento que se produce cuando se inicializa la pagina web
        await Leer();
    }

    private async Task Leer()
    {
        // var resp = await http.Get<List<Reserva>>("/Api/Reservas");

        HTTPRespuesta<List<Reserva>> resp = 
        await http.Get<List<Reserva>>("/Api/Reservas");

        if (!resp.Error)
        {
            listaReserva = resp.Respuesta;
        }
        else
        {
            Mensaje = await resp.ObtenerError(); 
        } 
    }
}










