@page "/Api/Reservas"
@inject IHTTPServicio http
@inject NavigationManager navigationManager


<html xmlns="http://www.w3.org/1999/xhtml">


<head>
    <title>La Gran Siete - Oficial</title>

    @* hoja de estilo para la pagina principal *@
    <link href="./css/ListReserva.css" rel="stylesheet" />
</head>



<body>

    <header class="text-center">
            <h1 class="text-uppercase">lista de reservas</h1>

        <div class="bg-danger">

            <nav class="navegacion-principal">

                @* <a href="/">Inicio</a> *@
                <a href="/Api/Usuario">Usuarios</a>
                <a href="/Api/Reservas">Reservas</a>
                <a href="/Api/Partido">Partidos</a>
                <a href="/Api/Pago">Pagos</a>
                <a href="/Api/Equipo1">Equipo 1</a>
                <a href="/Api/Equipo2">Equipo 2</a>
                <a href="/Api/Equipo">Equipo</a>
                <a href="/Api/Cancha">Cancha</a>

            </nav>

        </div>
       
    </header>

    <main>

        <div>
            <h2 class="text-center">Realizá tu reserva, vení a jugar con tus amigos !!</h2>
            <a class="btn btn-success text-uppercase" href="/Api/Reserva/Crear">֎ Formulario de reservas ֎ </a>
        </div>



        @*<section class="text-center mb-5">
                <h2 class="text-center">Reservá tu lugar !!</h2>
                <a class="btn btn-success btn-lg text-uppercase w-50 p-2 mb-4" href="/Api/ListReserva/Crear">Nueva Reserva</a>
            </section> *@





        @* <h4 class="bg-black p-3 text-center  text-white">Lista de reservas</h4> *@
        <h4>🏆⚽ Lista de Reservas ⚽ 🏆</h4>

        <div>

            <table>

                <thead>
                    <tr>
                        <th>Fecha/hora reserva</th>
                        <th>Tiempo de alquiler (Hs) </th>
                        <th>Precio por alquiler</th>
                        <th>Método de pago</th>
                        <th>Estado</th>
                        <th>Modificar / Eliminar</th>
                    </tr>
                </thead>

                <tbody>

                    @if (Mensaje == "")
                    {
                        @if (listaReserva == null)
                        {
                            <tr>
                                <td>Buscandonlista de reservas, aguarde...</td>
                            </tr>
                        }
                        else if (listaReserva.Count == 0)
                        {
                            <tr>
                                <td>No existen reservas activas</td>
                            </tr>
                        }
                        else
                        {
                            @foreach (var item in listaReserva)
                            {
                                <tr>

                                    <td>@item.FechaHoraReserva</td>
                                    <td>@item.DuracionAlquiler</td>
                                    <td>@item.Monto</td>
                                    <td>@item.MetodoPago</td>
                                    <td>@item.EstadoReserva</td>

                                    <td>
                                        <a href="/Api/Reservas/Editar/@item.Id">Modificar</a>
                                    </td>

                                    <td>
                                        <button class="btn btn-danger btn-sm mb-2" @onclick="()=>Eliminar(item)">Eliminar</button>
                                    </td>

                                </tr>
                                    
                            }

                        }
                    }
                    else
                    {
                        <tr><td colspan="6">Error: @Mensaje</td></tr>
                    }

                </tbody>

            </table>

        </div>

      

      

          

            <Confirmacion @ref="eliminar" onCancel="Cancelar" onConfirm="Borrar">
                <div class="alert alert-danger text-center text-uppercase font-monospace rounded shadow p-3">
                <h5 class="mb-3">Borrar la reserva realizada?</h5>
                   @*  <div class="d-flex justify-content-around">
                        <button class="btn btn-secondary" @onclick="Cancelar">Cancelar</button>
                        <button class="btn btn-danger" @onclick="Borrar">Borrar</button>
                     </div> *@
                </div>
            </Confirmacion>

          

       

    </main>


    <footer>
        <p>Todos los derechos reservados</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>



@code {

    List<Reserva> listaReserva;

    Reserva reserva;

    Confirmacion eliminar;

    string Mensaje = "";

    protected override async Task OnInitializedAsync() //"Task" = Equivale a un "VOID"
    {
        await base.OnInitializedAsync(); //Evento que se produce cuando se inicializa la pagina web
        await Leer();
    }

    private async Task Leer()
    {
        // var resp = await http.Get<List<Reserva>>("/Api/Reservas");

        HTTPRespuesta<List<Reserva>> resp =
        await http.Get<List<Reserva>>("/Api/Reservas");

        if (!resp.Error)
        {
            listaReserva = resp.Respuesta;
        }
        else
        {
            Mensaje = await resp.ObtenerError();
        }
    }

    //metodo que elimina la rserva
    private async Task Eliminar(Reserva reserva)
    {
        eliminar.Ver();
    }

    private void Cancelar()
    {
        eliminar.Ocultar();
    }

    private async Task Borrar()
    {
        eliminar.Ver();
    }


    // codigo de prueba de eliminacion de una reserva


}

















